body {
    background-image: url("../img/burger_hi_res.jpg");
    background-size: cover;
    /* background-position: center; */
    background-repeat: no-repeat;
    font-family: 'Anton', sans-serif;
}

h1 {
    font-weight: bold;
    font-size: 48px;
    color: #dc3545;
}

#daFont {
    color: #ffc107;
}

h2 {
    color: #dc3545;
}

.card {
    background-color: rgba(255,255,255,0);
    border: none;
    /* color: red; */
    font-weight: bold;
    font-size: 24px;
}